<form method="post" action="{{ path('server_data_delete', {'id': server_datum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ server_datum.id) }}">
    <button class="btn">Delete</button>
</form>
