{% extends 'base.html.twig' %}

{% block title %}Edit ServerData{% endblock %}

{% block body %}
    <h1>Edit ServerData</h1>

    {{ include('server_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('server_data_index') }}">back to list</a>

    {{ include('server_data/_delete_form.html.twig') }}
{% endblock %}
