{% extends 'base.html.twig' %}

{% block title %}New ServerData{% endblock %}

{% block body %}
    <h1>Create new ServerData</h1>

    {{ include('server_data/_form.html.twig') }}

    <a href="{{ path('server_data_index') }}">back to list</a>
{% endblock %}
