{% extends 'base.html.twig' %}

{% block title %}New TypeService{% endblock %}

{% block body %}
    <h1>Create new TypeService</h1>

    {{ include('type_service/_form.html.twig') }}

    <a href="{{ path('type_service_index') }}">back to list</a>
{% endblock %}
