<a href="{{ html }}"> Confirme su registro haciendo clic aquí</a>
<br/>
<span> Si su cliente de correo no permite seguir el enlace por favor copie y pegue el siguiente enlace </span>
<p>{{ html }}</p>