{% extends 'base.html.twig' %}

{% block title %}New ServiceManager{% endblock %}

{% block body %}
    <h1>Create new ServiceManager</h1>

    {{ include('service_manager/_form.html.twig') }}

    <a href="{{ path('service_manager_index') }}">back to list</a>
{% endblock %}
